# Ignore les dossiers de dépendances
node_modules/

# Ignore le fichier package-lock.json 
package-lock.json

# Ignore les fichiers de build générés
dist/
build/

# Ignore les logs
*.log

# Ignore les fichiers générés par les tests
coverage/

# Ignore env
.env