
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
}

.btn{
    font-size: 0.8rem;
    font-weight: 700;
}

.bg-holder{

    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50%);
    padding-right:  0.5rm;
    background-color: #fff;
    font-size: O.8rem;
    font-weight: 500;
    color: #999;
}

.toast-container {
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 100%; 
    pointer-events: none; 
  }
  
  .toast {
    pointer-events: auto; 
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .toast-body {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    padding: 15px; 
  }
  