
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
}

.btn{
    font-size: 0.8rem;
    font-weight: 700;
}

.bg-holder{

    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50%);
    padding-right:  0.5rm;
    background-color: #fff;
    font-size: O.8rem;
    font-weight: 500;
    color: #999;
}

.toast {
    position: relative;
    max-width: 300px;
    font-size: 0.875rem;
    background-color: #f8d7da;  /* Pour un message d'erreur */
    color: #721c24;
    border-radius: 20px;  /* Coins arrondis */
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.toast.success {
    background-color: #d4edda;
    color: #155724;
}

.toast.error {
    background-color: #f8d7da;
    color: #721c24;
}

.toast.info {
    background-color: #d1ecf1;
    color: #0c5460;
}

  